# Text Mining for ESG Score Analysis & Prediction : Using News data

## Import libraries

In [2]:
import sklearn
import random
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifierzk
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor

np.random.seed(42)
%matplotlib inline

In [6]:
df_2021ESG = pd.read_csv('../datasets/2021_esg_company_score.csv', encoding='cp949')
#한글 csv 파일 읽어올 때 한글 전용 인코딩 방식 cp-949 사용

In [7]:
df_2021ESG

        A+        A     B+     B        C     D
0       기아   CJ대한통운  삼양홀딩스  동화약품    KR모터스    국보
1       SK    노루홀딩스     대동  삼일제약    CS홀딩스  신일전자
2     KB금융     현대건설  GS글로벌   유니온     보해양조    동방
3      포스코  LX인터내셔널    아세아  백광산업     대한제분  부산주공
4    NAVER   SK네트웍스  SUN&L   코오롱    SG글로벌  삼호개발
..     ...      ...    ...   ...      ...   ...
293    NaN      NaN    NaN   NaN   레고켐바이오   NaN
294    NaN      NaN    NaN   NaN   슈피겐코리아   NaN
295    NaN      NaN    NaN   NaN  메가스터디교육   NaN
296    NaN      NaN    NaN   NaN     메드팩토   NaN
297    NaN      NaN    NaN   NaN     나우IB   NaN

[298 rows x 6 columns]

__30개 기업 무작위 추출__

`A+ 기업` 3개, `A 기업` 6개, `B+ 기업` 6개

`B 기업` 6개, `C 기업` 6개, `D 기업` 3개

In [ ]:
company_list = []

#
for i in ragne(1,5):
    df[i].sample